<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/design.css">

   </head>
<body>
  <nav>
        <div class="menu">
            <div class="logo">
                <a href="home">UNIVERSTY SYSTEM</a>
            </div>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="qrcode">Attendance</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="register">Register</a></li>
            </ul>
        </div>
    </nav>
  <div class="img">
    <img src="">
  </div>
  <div class="center">
    <div class="title">Welcome to KSU UNIVERSTY SYSTEM</div>
    <div class="btns">
      <a href="https://kfs.edu.eg/computers/archieve.aspx"><button>  Learn More</button></a>
    </div>
  </div>
</body>
</html>
