<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QR Code</title>
    <link rel="stylesheet" href="static/css/qrstyle.css">
    </link.>
</head>

<body>
<div class="container1">
    <div class="title1">QR CODE</div>
    <div class="content1">
        <form action="/qrcode" method="post">
            {% csrf_token %}
            <div class="user-details1">
                <div class="input-box1">
                    <span class="details1">Enter Data For Generating QR Code</span>
                    <input type="text" placeholder="Enter your Data" name="data" required>
                </div>
                <div class="button1">
                    <input type="submit" value="SUBMIT">
                </div>
            </div>
        </form>
    </div>
    <div>
        <div class="container1">
            {% if data %}
            <div class="title1">Your Qr Code is:</div>
            <img src="{% static 'image/test.png' %}"> {% endif %}
        </div>
    </div>
</div>
</body>

</html>